

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		-ms-flex-preferred-size: 60%;
		    flex-basis: 60%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: reverse;
		    -ms-flex-direction: row-reverse;
		        flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		padding: 100px 0;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: space-evenly;
		    -ms-flex-pack: space-evenly;
		        justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		-o-object-fit: contain;
		   object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		-ms-flex-preferred-size: 30%;
		    flex-basis: 30%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */


/* 
loder start form here */



@-webkit-keyframes square-animation {
	0% {
		left: 0;
		top: 0;
	}

	10.5% {
		left: 0;
		top: 0;
	}

	12.5% {
		left: 32px;
		top: 0;
	}

	23% {
		left: 32px;
		top: 0;
	}

	25% {
		left: 64px;
		top: 0;
	}

	35.5% {
		left: 64px;
		top: 0;
	}

	37.5% {
		left: 64px;
		top: 32px;
	}

	48% {
		left: 64px;
		top: 32px;
	}

	50% {
		left: 32px;
		top: 32px;
	}

	60.5% {
		left: 32px;
		top: 32px;
	}

	62.5% {
		left: 32px;
		top: 64px;
	}

	73% {
		left: 32px;
		top: 64px;
	}

	75% {
		left: 0;
		top: 64px;
	}

	85.5% {
		left: 0;
		top: 64px;
	}

	87.5% {
		left: 0;
		top: 32px;
	}

	98% {
		left: 0;
		top: 32px;
	}

	100% {
		left: 0;
		top: 0;
	}
}



@keyframes square-animation {
	0% {
		left: 0;
		top: 0;
	}

	10.5% {
		left: 0;
		top: 0;
	}

	12.5% {
		left: 32px;
		top: 0;
	}

	23% {
		left: 32px;
		top: 0;
	}

	25% {
		left: 64px;
		top: 0;
	}

	35.5% {
		left: 64px;
		top: 0;
	}

	37.5% {
		left: 64px;
		top: 32px;
	}

	48% {
		left: 64px;
		top: 32px;
	}

	50% {
		left: 32px;
		top: 32px;
	}

	60.5% {
		left: 32px;
		top: 32px;
	}

	62.5% {
		left: 32px;
		top: 64px;
	}

	73% {
		left: 32px;
		top: 64px;
	}

	75% {
		left: 0;
		top: 64px;
	}

	85.5% {
		left: 0;
		top: 64px;
	}

	87.5% {
		left: 0;
		top: 32px;
	}

	98% {
		left: 0;
		top: 32px;
	}

	100% {
		left: 0;
		top: 0;
	}
}

.loader {
	position: relative;
	width: 96px;
	height: 96px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	margin: 200px auto;
}

.loader-square {
	position: absolute;
	top: 0;
	left: 0;
	width: 28px;
	height: 28px;
	margin: 2px;
	border-radius: 0px;
	background: rgb(133, 130, 130);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	-webkit-animation: square-animation 10s ease-in-out infinite both;
	        animation: square-animation 10s ease-in-out infinite both;
}

.loader-square:nth-of-type(0) {
	-webkit-animation-delay: 0s;
	        animation-delay: 0s;
}

.loader-square:nth-of-type(1) {
	-webkit-animation-delay: -1.4285714286s;
	        animation-delay: -1.4285714286s;
}

.loader-square:nth-of-type(2) {
	-webkit-animation-delay: -2.8571428571s;
	        animation-delay: -2.8571428571s;
}

.loader-square:nth-of-type(3) {
	-webkit-animation-delay: -4.2857142857s;
	        animation-delay: -4.2857142857s;
}

.loader-square:nth-of-type(4) {
	-webkit-animation-delay: -5.7142857143s;
	        animation-delay: -5.7142857143s;
}

.loader-square:nth-of-type(5) {
	-webkit-animation-delay: -7.1428571429s;
	        animation-delay: -7.1428571429s;
}

.loader-square:nth-of-type(6) {
	-webkit-animation-delay: -8.5714285714s;
	        animation-delay: -8.5714285714s;
}

.loader-square:nth-of-type(7) {
	-webkit-animation-delay: -10s;
	        animation-delay: -10s;
}
